<form action="/blockchain" method="POST">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sender</th>
                <th scope="col">Receiver</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        {{#each this.transaction}}
        <tbody>
            <th scope="row">{{ID_TRANSACTION}}</th>

            <td>{{FROM}}</td>
            <td>{{TO}}</td>
            <td>{{AMOUNT}}</td>


        </tbody>
        {{/each}}

    </table>
    <input type="submit" class="btn btn-info mr-2 font-weight-bold" value="MINING">
</form>