<div id="particles-js" class="position-absolute"></div>
<div id="carouselExampleSlidesOnly " class="carousel slide mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img src="../public/0102_2918_118075821_305369607219211_5267148268948682606_n.png"
                class="d-block w-50 h-50 mx-auto" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../public/aetfnbaqetn-1676447457728301673716-1676449278412-16764492791121662668311.webp"
                class="d-block w-50 h-50 mx-auto " alt="...">
        </div>
        <div class="carousel-item">
            <img src="../public/vi-dien-tu-la-gi-1.jpg" class="d-block w-50 h-50 mx-auto" alt="...">
        </div>
    </div>
</div>

<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>

<style>
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
    }

    #carouselExampleSlidesOnly {}

    .carousel-inner {
        margin-top: 5vh;
    }

    #particles-js {
        background-color: skyblue;
        height: 100%;
        width: 99vw;
        position: absolute;
        z-index: -1;
        top: 100;

    }
</style>