<section>
    <div id="particles-js" class="position-absolute"></div>

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Sign Up</h2>
                            {{#if error}}
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                    aria-label="Danger:">
                                    <use xlink:href="#exclamation-triangle-fill" />
                                </svg>
                                <div>
                                    {{error}}
                                </div>
                            </div>
                            {{/if}}
                            <form id="formRegister" method="POST" action="" onchange="checkbutton()">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="reg_name"><b>Name</b> </label>
                                    <input type="text" name="f_Name" class="form-control form-control-lg"
                                        id="reg_name" />

                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="reg_username"><b>Username</b> </label>

                                    <input type="text" name="f_Username" class="form-control form-control-lg"
                                        id="reg_username" placeholder="username (no space)" onchange="regexuser()" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="reg_email"><b>Email</b> </label>

                                    <input type="text" name="f_Email" class="form-control form-control-lg"
                                        placeholder="asb@gmail.com" id="reg_email" onchange="regexemail()" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="reg_account_no"><b>Account Number</b> </label>
                                    <input type="text" name="f_account_no" class="form-control form-control-lg"
                                        placeholder="10-11 numbers" id="reg_account_no" onchange="regexnumberphone()" />

                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="reg_balance"><b>Balance</b> </label>
                                    <input type="text" name="f_balance" class="form-control form-control-lg"
                                        placeholder="100000" id="reg_balance" onchange="regexbalance()" />

                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="reg_password">
                                        <b>Password</b> </label>
                                    <input type="password" name="f_Password" class="form-control form-control-lg"
                                        id="reg_password" onchange="checkpassword()" />

                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="reg_confirmpassword"><b>Confirm password</b></label>

                                    <input type="password" name="f_Confirmpassword" class="form-control form-control-lg"
                                        id="reg_confirmpassword" onchange="checkpassword()" />
                                </div>



                                <div class="d-flex justify-content-center">
                                    <button id="button"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                        type="submit">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                        href="/login/signin" class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #wrapper {

        display: block;
    }

    #particles-js {
        background-color: skyblue;
        height: 100%;
        width:100vw;
        top: 0;
        left: 0;
        z-index: -1;
    }
</style>
<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>
<script>
    var checkuser = false, checkemail = false, checkphone = false, checkbalance = false, checkpw = false;

    function regexuser() {
        let userRegex = /^\S+$/;
        uservalue = document.getElementById("reg_username").value;
        user = document.getElementById("reg_username");
        if (userRegex.test(uservalue)) {
            user.style.color = "Black"
            checkuser = true;

        }
        else {
            user.style.color = "red"
            checkuser = false;
        }
    }

    function regexemail() {
        let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        emailvalue = document.getElementById("reg_email").value;
        email = document.getElementById("reg_email");
        if (emailRegex.test(emailvalue)) {
            email.style.color = "Black"
            checkemail = true;
        }
        else {
            email.style.color = "red"
            checkemail = false;
        }
    }
    function regexnumberphone() {
        let phoneRegex = /^0[0-9]{9,10}$/;
        phonevalue = document.getElementById("reg_account_no").value;
        phone = document.getElementById("reg_account_no");
        if (phoneRegex.test(phonevalue)) {
            phone.style.color = "Black"
            checkphone = true;
        }
        else {
            console.log(phonevalue)
            phone.style.color = "red"
            checkphone = false;
        }
    }
    function regexbalance() {
        let balanceRegex = /^[0-9]+$/;
        balancevalue = document.getElementById("reg_balance").value;
        balance = document.getElementById("reg_balance");
        if (balanceRegex.test(balancevalue) && parseInt(balancevalue) > 100000) {
            balance.style.color = "Black"
            checkbalance = true;
        }
        else {
            balance.style.color = "red"
            checkbalance = false;
        }
    }

    function checkpassword() {
        pw = document.getElementById("reg_password")
        cf_pw = document.getElementById("reg_confirmpassword")
        if (pw.value == cf_pw.value) {
            console.log(pw.value)
            console.log(cf_pw.value)
            cf_pw.style.color = "Black"
            checkpw = true;
        }
        else {
            console.log(pw.value + 'aaa')
            console.log(cf_pw.value + 'aaa')
            cf_pw.style.color = "red"
            checkpw = false;
        }
    }

    function checkbutton() {
        if (checkuser && checkemail && checkbalance && checkpw && checkphone) {
            document.getElementById("button").disabled = false;
        }
        else {
            document.getElementById("button").disabled = true;
        }
    }
</script>