<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src="../../public/logo.png" class="img-icon" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sendmoney">SEND MONEY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pending">SEND COIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/blockchain">MY BLOCKCHAIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pending">PENDING</a>
                </li>

            </ul>

            {{#if account}}
            <div class="d-flex">
                <a type="button" class="btn btn-outline-primary me-2 row" id="account" href="login/profile">Hi
                    {{account}}</a>
                <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Log Out</button>
                </form>
            </div>
            {{else}}
            <a type="button" class="btn btn-success mr-2 font-weight-bold" href="/login/signin">LOGIN</a>
            {{/if}}
        </div>
    </div>
</nav>

<style>
    .img-icon {
        height: 50px;
        width: 50px;
    }
</style>